<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="myFortuneService" class="com.pioneerx1.springdemo.HappyFortuneServiceImpl">
	</bean>

	<bean id="myCoach" class="com.pioneerx1.springdemo.TrackCoach">
		<!--  constructor injection only needs ref for fortuneService bean -->
		<constructor-arg ref="myFortuneService" />
	</bean>
	
	<bean id="myFootballCoach" class="com.pioneerx1.springdemo.FootballCoach">
		<!--  setter injection, name is the actual name of property, also needs ref -->
		<property name="fortuneService" ref="myFortuneService" />
		<!--  inject literal values -->
		<property name="emailAddress" value="bob@bestcoach.com" />
		<property name="team" value="Hungry Hippos" />
	</bean>

</beans>